@font-face {
	font-family: "pixel";
	src: url("../fonts/pixel.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} 

body{
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	padding: 20px 0;
	font-family: pixel;
	height: 100%;
	width:700px;
	margin: 0 auto;
}

html { 
	position:relative; 
	min-height:100%;
}

p{
	margin: 0px;
	font-size: 13px;
	line-height: 20px;
}

footer{
	text-align: center;
	height: 40px; 
	background: #f7f7f7;
	position: absolute;
	bottom: 0;
	width: 700px;
	margin: 0px;
}

.parts{
	background: white;
	padding: 10px;
	margin-bottom: 25px;
}

.resources{
	background: white;
}

.resources img{
	height: 20px;
	float: right;
}

.resources p{
	font-size: 15px;
	line-height: 25px;
	margin: 0px;
}

.planets, .resources{
	padding: 10px;
	float: right;
	width: 200px;
	margin-bottom: 20px;
}

#activePlanet{
	text-align: center;
	background: white;
	padding: 5px 0px;
}

.divTable{
	border: 1px solid white;
	float: left;
	display: table;
	width: 460px;
	background: rgba(153,153,153,0.2);
}

.divTableRow {
	display: table-row;
	height: 92px;
}

.shipParts {
	border: 1px solid white;
	display: table-cell;
	cursor: pointer;
}

.rotated {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.cosmonaut:before{
	content:url(../images/cosmonaut.png);
	position:relative;
	left:37px;
	top:45px;
}

.shipParts.selected {
	background: rgba(153,153,153,0.7);
}

.shipParts:hover {
	background: rgba(153,153,153,0.3);
}

.divTableBody {
	display: table-row-group;
}